<%= render "/shared/header" %>
<div class="message_main">
<h3 class="messages_index">お薬の内容を画像として管理できます</h3>
<h3><%= link_to '新しいお薬を記録', new_message_path%></h3>
<% @messages.each do |message| %>
  <%= message.content%>
  <div class="messages">
    <% message.images.each do |image| %>
      <%= image_tag image, class:'images' %>
    <% end %>
  </div>
<% end %>
</div>
