.nav {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 1vh 0;
}

.header-name {
  padding: 5px 30px 10px 30px;
    color: #8f8f8f;
}

.lists-left {
  min-width: 200px;
}

.lists-right {
  display: flex;
  list-style: none;
  align-items: flex-end;
  font-weight: bold;
  padding: 5px 30px 10px 30px;
}


.user-nickname {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
  font-weight: bold;
}


.logout {
  text-decoration: none;
  color: #333333;
}

.login {
  text-decoration: none;
  line-height: 32px;
  margin-right: 3vw;
  color: #333333;
}

.sign-up {
  text-decoration: none;
  color: #333333;
}

.header_menu_container_menu-list {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}