.message__container {
  width: 750px;
  margin: 40px auto 40px;
}

.message__container__h2 {
  font-size: 25px;
  font-weight: 500;
  background: #f7f7f7;
  padding: 20px 15px 18px;
  color: #333;
  border-left: 9px solid #7fd9d2;
  line-height: 40px;
  margin: 60px 0 40px 0;
}

.message__container__h3 {
  font-size: 20px;
  letter-spacing: 1.6px;
  padding: 10px 15px 10px;
  border-left: 9px solid #7fd9d2;
  color: #333;
  font-weight: 600;
  margin: 60px 0 40px 0;
}