.main-container {
  background-image: url("/images/kanpo-1.jpeg");
  height: 800px;
  background-size: cover;
}

.product-main {
  text-align: center;
}

.header-link {
  font-size:30px;
  font-weight:bold;
  padding:20px 0 5px 30px;
}

.header-link {
 text-decoration: none;
}

.header_menu_container_menu-list {
  display: flex;
  justify-content: space-around;
  background-color:#A1E6A1;
  list-style: none;
  height: 50px;
  align-items: center;
  font-size: 20px;
}

.header_menu_container_menu-home {
  text-decoration: none;
  color:#ffffff;
}

.header_menu_container_menu-about {
  text-decoration: none;
  color:#ffffff;
}

.header_menu_container_menu-privacy {
  text-decoration: none;
  color:#ffffff;
}

.header_menu_container_menu-contact {
  text-decoration: none;
  color:#ffffff;
}

.serach-question {
  font-size: 20px;
}

.serach-tab {
  width: 100px;
  height: 40px;
}

.search-price {
  font-size: 20px;
}

.footer {
  background-color:#009bc6;
}

.footer_container_title {
  color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    padding: 30px 20px;
}

.footer_container_copyright {
  color: #ffffff;
}